#nav {
	background: #000;
	bottom: 0;
	height: 100%;
	position: fixed;
	top: 0;
	width: 200px;
	z-index: 1;
}

#nav ul {
	list-style: none;
	padding-left: 20px;
}

#nav > ul {
	margin: 0;
	padding: 20px;
}

#nav ul ul {
	display: none;
}

#nav ul li.open > ul {
	display: block;
}

#nav a {
	color: #fff;
}

main {
	margin-left: 200px;
	padding: 40px;
}

article section {
	align-items: center;
	display: flex;
	min-height: calc(100vh - 80px);
}