body {
	margin: 0;
}

.screen-reader-shortcut {
	position: absolute;
	top: -1000em;
}

.screen-reader-shortcut:focus {
	left: 6px;
	top: 7px;
	height: auto;
	width: auto;
	display: block;
	font-size: 14px;
	font-weight: 600;
	padding: 15px 23px 14px;
	background: #f1f1f1;
	color: #0073aa;
	z-index: 100000;
	line-height: normal;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
	text-decoration: none;
	outline: none;
}

#nav {
	background: #000;
	bottom: 0;
	height: 100%;
	position: fixed;
	top: 0;
	width: 200px;
	z-index: 1;
}

#nav ul {
	list-style: none;
	padding-left: 20px;
}

#nav > ul {
	margin: 0;
	padding: 20px;
}

#nav ul ul {
	display: none;
}

#nav ul li.open > ul {
	display: block;
}

#nav a {
	color: #fff;
}

main {
	height: 4000px;
	margin-left: 200px;
	padding: 40px;
}